build
coverage
demos/aws-sdk
demos/electron/*
demos/browser/*
demos/serverless/*
demos/videohelpdesk/*
demos/components/*
demos/react/*
docs
guides
index.ts
integration
node_modules
rust
screensignalingprotocol
signalingprotocol
!demos/browser/app/*/*.ts
!demos/browser/server.js
