*~
.*sw*
.DS_Store
.idea
.nyc_output
build
coverage
demos/browser/logs/
demos/browser/package-lock.json
dist
doc
integration-test-results/
integration/js/logs/
integration/js/node_modules
integration/js/temp
integration/kite-allure-reports
integration/logs
node_modules
*.iml
