*~
.*sw*
*.iml
.DS_Store
.idea
.nyc_output
.npmrc
__data*
build
coverage
demos/browser/logs/
demos/components/node_modules
demos/react/node_modules
demos/react/lib
demos/react/public/app.js
dist
doc
integration-test-results/
integration/js/logs/
integration/js/node_modules
integration/js/temp
integration/kite-allure-reports
integration/logs
node_modules
src/versioning/version.ts
