.input {
  display: block;
  padding: .4rem;
  border: .2rem solid #515659;
  border-radius: .2rem;
}

.label {
  display: block;
  margin-bottom: 1rem;
}

.input-group {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.input-group:last-of-type {
  margin-bottom: 0;
}