name: Continuous Integration Workflow

on:
  pull_request:
    branches:
      - main
      - 'release-**.x'

env:
  TEST_TYPE: Integration-Test

permissions:
  id-token: write   # This is required for requesting the JWT

jobs:
  build:
    name: Build and Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Package
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Using Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
      - name: Clean Install
        run: npm ci
      - name: Build
        run: npm run build:release

  audio-test:
    name: Audio Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Package
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup GitHub Actions Host
        id: setup
        uses: ./.github/actions/setup-integration-test
        with:
          aws-role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_SDK_DEV }}
          aws-role-session-name: ${{ env.TEST_TYPE }}
      - name: Run Audio Test
        if: steps.setup.outputs.integ_test_required == 'true'
        working-directory: ./integration/mocha-tests
        run: npm run test -- --test-name AudioTest --host local --test-type integration-test --headless true

  video-test:
    name: Video Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Package
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup GitHub Actions Host
        id: setup
        uses: ./.github/actions/setup-integration-test
        with:
          aws-role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_SDK_DEV }}
          aws-role-session-name: ${{ env.TEST_TYPE }}
      - name: Run Video Test
        if: steps.setup.outputs.integ_test_required == 'true'
        working-directory: ./integration/mocha-tests
        run: npm run test -- --test-name VideoTest --host local --test-type integration-test --headless true
