# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy Demo App Workflow

on:
  push:
    branches: [ main, 'release-**.x' ]

permissions:
  id-token: write   # This is required for requesting the JWT

jobs:
  deploy_chime_sdk_demo:
    name: Deploy Meeting and Meeting Readiness Checker Demos - Media Prod
    runs-on: ubuntu-latest
    env:
        AWS_DEFAULT_REGION: us-east-1
        AWS_DEFAULT_OUTPUT: text
        NAME: DEMO
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_SDK_DEV }}
          role-session-name: deploy-demo-app
          aws-region: us-east-1
      - name: Checkout Package
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install SAM CLI
        run: script/github-action-awscli-installation
      - name: Run Deployment Script
        if: ${{ github.ref == 'refs/heads/main' }}
        run: script/deploy-canary-demo

  deploy_chime_sdk_demo_gamma:
    name: Deploy Meeting and Meeting Readiness Checker Demos - Media Gamma
    runs-on: ubuntu-latest
    env:
        AWS_DEFAULT_REGION: us-east-1
        AWS_DEFAULT_OUTPUT: text
        NAME: GAMMA
        GAMMA_CHIME_ENDPOINT_US_EAST_1: ${{secrets.GAMMA_CHIME_ENDPOINT_US_EAST_1}}
        GAMMA_CHIME_SERVICE_PRINCIPAL: ${{secrets.GAMMA_CHIME_SERVICE_PRINCIPAL}}
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_SDK_DEV }}
          role-session-name: deploy-demo-app
          aws-region: us-east-1
      - name: Checkout Package
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install SAM CLI
        run: script/github-action-awscli-installation
      - name: Run Deployment Script
        if: ${{ github.ref == 'refs/heads/main' }}
        run: script/deploy-canary-demo
  